- project: "{{ tower_project_name }}"
  success:
  - job_template: "{{ tower_job_template_provision_prod }}"
    success:
    - inventory_source: "{{ tower_ec2_inventory_source }}"
      success:
      - job_template: "{{ tower_job_template_status_prod }}"
  - job_template: "{{ tower_job_template_provision_qa }}"
    success:
    - job_template: "{{ tower_job_template_3tier_app }}"
      success:
      - job_template: "{{ tower_job_template_smoke_qa }}"
        failure:
        - job_template: "{{ tower_job_template_delete_qa }}"
        success:
        - inventory_source: "{{ tower_ec2_inventory_source }}"
          success:
          - job_template: "{{ tower_job_template_ssh_prod }}"
            success:
            - job_template: "{{ tower_job_template_3tier_app_prod }}"
              success:
              - job_template: "{{ tower_job_template_smoke_prod }}"
